// Colors
$color-darkgray: #231F20;
$color-text-lightgray: #EEE;
$color-black: #000;
$color-white: #FFF;

// Fonts
$primary-font: Montserrat, sans-serif;

// Sizes
$basic-font-size: 16px;
$basic-indent: 15px;

// Screen width for media queries
$xs: 425px;
$sm: 640px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1450px;
$hd: 1650px;
$fhd: 2100px;