@import 'variables';

@tailwind base;
@tailwind utilities;
@tailwind components;

html {
  font-family: $primary-font;
}
body {
  font-size: $basic-font-size;
}
.swiper-container {
  width: 100% !important;
  max-width: 100% !important;
  position: absolute;
  top: 0;
}
.pattaya {
  font-family: $secondary-font;
}
