@import "variables";

html {
  font-family: $primary-font;
}
body {
  font-size: $basic-font-size;
  background-color: #CCC;
  color: red;
}
img {
  max-width: 100%;
}

.pattaya {
  font-family: $secondary-font;
}